src/assets/UserWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.api.ws.Nezter.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://app.api.ws.Nezter.com/" name="UserServiceImpService">
<types>
<xsd:schema>
<xsd:import namespace="http://app.api.ws.Nezter.com/" schemaLocation="http://localhost:8900/UserWebService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"></part>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"></part>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"></part>
</message>
<portType name="UserService">
<operation name="getAll">
<input wsam:Action="http://app.api.ws.Nezter.com/UserService/getAllRequest" message="tns:getAll"></input>
<output wsam:Action="http://app.api.ws.Nezter.com/UserService/getAllResponse" message="tns:getAllResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://app.api.ws.Nezter.com/UserService/getAll/Fault/Exception"></fault>
</operation>
<operation name="getUserById">
<input wsam:Action="http://app.api.ws.Nezter.com/UserService/getUserByIdRequest" message="tns:getUserById"></input>
<output wsam:Action="http://app.api.ws.Nezter.com/UserService/getUserByIdResponse" message="tns:getUserByIdResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://app.api.ws.Nezter.com/UserService/getUserById/Fault/Exception"></fault>
</operation>
</portType>
<binding name="UserServiceImpPortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="UserServiceImpService">
<port name="UserServiceImpPort" binding="tns:UserServiceImpPortBinding">
<soap:address location="http://localhost:8900/UserWebService"></soap:address>
</port>
</service>
</definitions>